<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: rgb(226, 177, 59);">
<div style="width: 680px;height:275px;background-color:white;margin-left:370px;margin-top:170px;text-aling:center;border-radius:5px;border-style: ridge;">
    <center>
     <div>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" charset="utf-8"></script>
	<br><br>
	<h2 style="color:#1A1712">Escriba un Mensaje</h2><br>
	<input style="border-radius:5px;" type="text" size="25" maxlength="16" id="mensajes" placeholder="Mensaje:">
	<br><br>
	<button type="button" class="btn btn-dark" id="enviar">Enviar</button>
     </div>
    </center>
</div>
</body>
<script>

const socket = io();

$('#enviar').on('click', function () {
  msg= $('#mensajes').val();
  socket.emit('message',msg);
  $('#mensajes').val('');
})
</script>
</html>
